<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>time</th>
        <th>departure</th>
        <th>destination</th>
        <th>flight #</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let flight of flights">
          <td>
              <ul class="list-group">
                <li *ngFor="let leg of flight.flightLegs">
                  {{ leg.departureInformation.times.scheduled | date:'shortTime'}}
                </li>
              </ul>
            </td>
        <td>{{ flight.route[0] }}</td>
        <td>{{ flight.route[1] }}</td>
        <td>{{ flight.airline.code }}{{ flight.flightNumber }}</td>
        <td>{{ flight.flightStatusPublic}}</td>
      </tr>
    </tbody>
  </table>
