<table class="table table-striped table-hover">
  <thead>
    <tr>
      Today
    </tr>
    <tr>
      <th>time</th>
      <th>departure</th>
      <th>destination</th>
      <th>flight #</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody >
    <tr>
      <td>9:30</td>
      <td>AMS</td>
      <td>KBP</td>
      <td>KL1385</td>
      <td>status1</td>
    </tr>
    <tr>
      <td>9:30</td>
      <td>AMS</td>
      <td>KBP</td>
      <td>KL1385</td>
      <td>status1</td>
    </tr>
    <tr>
      <td>9:30</td>
      <td>AMS</td>
      <td>KBP</td>
      <td>KL1385</td>
      <td>status1</td>
    </tr>
  </tbody>
</table>
